<!DOCTYPE html>
<html>

<head>
    <title>YouTube Sentiment Analysis</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 90%;
            table-layout: fixed;
        }
        th,
        td {
            padding: 10px;
            border: 1px solid #ddd;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="heading1">
        <img src="../static/home1.jpg" alt="home1" style="background:#eaaa01;width:100%;height:80%;object-fit:contain;filter:brightness(20%);position: absolute;top:0;z-index: -1">
        <h1 style="margin: 80px auto; padding:20px;text-align: center; font-size: 3.52em;letter-spacing: 4px">YouTube Sentiment Analysis</h1>
        <form class="form1" action="/" method="post">
            <input class="form1textbox" type="text" name="video_url" placeholder="Enter YouTube URL" required>
            <input class="form1submit" type="submit" value="Analyze">
        </form>
    </div>

    {% if summary %}
    <h2>Text Summary</h2>
    <p>Positive: {{ summary['positive'] }}</p>
    <p>Negative: {{ summary['negative'] }}</p>
    <p>Number of Comments: {{ summary['num_comments'] }}</p>
    <p>Rating: {{ summary['rating'] }}%</p>

    <h3>Comments</h3>
    <table>
        <tr>
            <th>Comment</th>
            <th>Sentiment</th>
        </tr>
        {% for comment, sentiment in comments %}
        <tr>
            <td>{{ comment }}</td>
            <td>{{ sentiment }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</body>

</html>