<!DOCTYPE html>
<html>

<head>
    <title>YouTube Sentiment Analysis</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    window.onload = function() {
        var ctx = document.getElementById('sentimentChart').getContext('2d');
        var positive = {{ summary['positive'] }};
        var negative = {{ summary['negative'] }};
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Positive', 'Negative'],
                datasets: [{
                    data: [positive, negative],
                    backgroundColor: ['green', 'red']
                }]
            },
            options: {
                responsive: true
            }
        });
    };
    </script>
</head>

<body>
    <div class="heading1">
        <img src="../static/home1.jpg" alt="home1" style="background:#eaaa01;width:100%;height:100%;object-fit:contain;position: absolute;top:0;z-index: -1;filter: grayscale(0.6);">
        <div class="box1">
            <div class="backbox"></div> 
            <h1 style="margin: 80px 0 50px 0;text-align: center; font-size: 3.52em;letter-spacing: 4px;font-family: 'Bebas Neue', sans-serif;">YouTube Sentiment Analysis</h1>
            <form class="form1" action="/" method="post">
                <input class="form1textbox" type="text" name="video_url" placeholder="Enter YouTube URL" required>
                <input class="form1submit" type="submit" value="Analyze">
            </form>
        </div>
    </div>

    <div class="b2head" style="text-align: center; font-size: 2.5em;font-family: 'Bebas Neue', sans-serif; margin: 5%;">Text Summary</div>
    <div style="display: flex; align-items: center;justify-content: center;">
        <div style="height: 300px; width: 300px;">
            <canvas id="sentimentChart" style="width: 100px; height: 100px;"></canvas>
        </div>
        <div class="box2">
            <p>Positive Comments: {{ summary['positive'] }}</p>
            <p>Negative Comments: {{ summary['negative'] }}</p>
            <p>Number of Comments: {{ summary['num_comments'] }}</p>
            <p>Rating: {{ summary['rating'] }}%</p>
        </div>
    </div>


    <div style="text-align: center; font-size: 2.5em;font-family: 'Bebas Neue', sans-serif;margin: 5%;" >Comments</div>
    <div class="embedtag" style="text-align: center;margin-bottom: 5%;">
        <iframe src="/newpage" width="80%" height="500px" class="embed" frameBorder="0"></iframe>
    </div>
</body>

</html>