<!DOCTYPE html>
<html>
<head>
    <title>Comments</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
        }
        th,
        td {
            padding: 20px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <table style="border: 2px solid #d4b77d;">
        <tr style="background: #d4b77d;">
            <th style="width: 70%;border-right: 2px solid #e2daca;">COMMENT</th>
            <th>SENTIMENT</th>
        </tr>
        {% for comment, sentiment in comments %}
        <tr>
            <td style="text-align: justify;border: 2px solid #d4b77d;">{{ comment }}</td>
            <td style="text-align: center;border: 2px solid #d4b77d;">{{ sentiment }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>